In [7]:
import seaborn as sns
import metapack as mp
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from IPython.display import display 

%matplotlib inline
sns.set_context('notebook')
mp.jupyter.init()

In [3]:
pkg = mp.jupyter.open_package()
#pkg = mp.jupyter.open_source_package()

pkg.set_sys_path()
#from pylib import *

pkg

# O*Net Occupation Embeddings
`civicknowledge.com-onet_soc-embed-1.1.1` Last Update: 2023-09-16T04:55:20

_Text for O*Net occupations and pre-computed embeddings._






## Contacts

* **Wrangler** [Eric Busboom](mailto:eric@civicknowledge.com), [Civic Knowledge](http://civicknowledge.com)

## Resources

* **[onet_occupations](data/onet_occupations.csv)**. O*Net SOC, occupation descriptions and embeddings.
* **[onet_rewrites](data/onet_rewrites.csv)**. ONet Occuption descriptions, rewritten

## References
<ul><li> <strong><a href="https://www.onetcenter.org/dl_files/database/db_27_3_excel/Occupation%20Data.xlsx">onet_occupations</a></strong>. Descriptions of O*Net Occupations</li><li> <strong><a href="https://www.onetcenter.org/dl_files/database/db_27_3_excel/Task%20Statements.xlsx">onet_tasks</a></strong>. Descriptions of tasks for O*Net occupations</li><ul>

In [5]:
df = pkg.resource('onet_rewrites').dataframe()
df.head()

,soc,title,summary,rewrite,mismatch,cache_path
0,53-2022.00,armour reconnaissance commander,Worked and trained as a Sergeant in the Singap...,Airfield Operations Sergeant. As a leader in t...,False,responses/53-2022.00
1,53-2022.00,usaf,Luke AFB was my last assignment from September...,Airfield Operations Specialist at USAF. I was ...,False,responses/53-2022.00
2,53-2022.00,manager of state airports,Implemented scheduled air carrier service betw...,State Airports Manager. Managed multiple airpo...,False,responses/53-2022.00
3,53-2022.00,specialist,Worked in a Supply Transportaion Unit 11th ACR...,Supply Transportation Specialist. My responsib...,False,responses/53-2022.00
4,53-2022.00,clinical manager,"Assignments include: Lackland AFB, TX, Sheppar...",Clinical Manager in Airfield Operations. My as...,False,responses/53-2022.00

In [10]:
from researchrobot.embeddings import EmbeddingsAsync
from researchrobot import  ObjectStore

os_config = dict(name='barker_minio', bucket='linkedin', prefix='embeddings/onet/v4/')
rc = ObjectStore.new(**os_config)

In [11]:
rc[list(rc)[0]]

,soc,eid,text,kind,embeddings
0,11-1011.00,title,Chief Executives,occ,"[-0.01070325324280108, -0.005992866735946939, ..."
1,11-1011.03,title,Chief Sustainability Officers,occ,"[0.0017791583243947197, -0.017889026239806358,..."
2,11-1021.00,title,General and Operations Managers,occ,"[-0.018869434564285224, -0.012568603709777932,..."
3,11-1031.00,title,Legislators,occ,"[-0.014186067976888964, 0.007905008987121664, ..."
4,11-2011.00,title,Advertising and Promotions Managers,occ,"[-0.01626372055018827, -0.013136579444399664, ..."
...,...,...,...,...,...
195,17-3024.01,title,Robotics Technicians,occ,"[-0.0011220664192182121, -0.014985952756672164..."
196,17-3025.00,title,Environmental Engineering Technologists and Te...,occ,"[0.010901385614314483, -0.00888188450051163, -..."
197,17-3026.00,title,Industrial Engineering Technologists and Techn...,occ,"[-0.006988094148517536, -0.014190383301587346,..."
198,17-3026.01,title,Nanotechnology Engineering Technologists and T...,occ,"[-0.003629417928470568, -0.0032322934362971917..."
199,17-3027.00,title,Mechanical Engineering Technologists and Techn...,occ,"[-0.016428777747319618, -0.010738842834832818,..."

In [16]:
from tqdm.auto import tqdm
edf = pd.concat( rc[e] for e in tqdm(list(rc)) )

  0%|          | 0/445 [00:00<?, ?it/s]

In [17]:
len(edf)

88955